a {
    text-decoration: none;
    text-align: center;
}

.remaining-space {
    height: calc(1024px - 56px);
}

* {
    font-family: "微軟正黑體";
    box-sizing: border-box;
}

body{
    display: flex;
    place-items: center;
    background-image: url("../img/background.svg");
    background-size: cover;
    background-attachment: fixed;
}

.navbar{
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 100;
}


.space{
    border-style: none;
    margin: 0;
}

.menu{
    background-color: rgba(255, 255, 255, 0.7);
}

.container{
    width: 100%;
    display: flex;
    border-style: none;
    margin: 0;
}

.card{
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    transition: transform 0.3s, box-shadow 0.3s;
    border-radius: 20px;
    border-style: none;

    background-color: rgba(255, 255, 255, 0.6);
    box-sizing: border-box;
}


.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.card-title{
    height: 80px;
    font-size: large;
    font-weight: 700;
}

.card-text{
    font-size: small;
    height: 40px;
}
